:root {
  --main-table-colummn-width: 100px;
  --index-row-width: 300px;
}

.header-cell {
  justify-content: center;
  align-items: center;
}

.body-row {
  display: flex;
}

.body-cell {
  min-width: var(--main-table-colummn-width);
  max-width: var(--main-table-colummn-width);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 0 1px 1px 0;
  padding: 10px;
  height: 50px;
}

.body-index-table {
  overflow-y: auto;
  min-width: 302px;
  margin-bottom: 17px;
}


.table-headers-row::-webkit-scrollbar, 
.table-headers-row::-webkit-scrollbar-thumb,
.body-index-table::-webkit-scrollbar,
.body-index-table::-webkit-scrollbar-thumb {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
  height: 0;
}

.main-table {
  overflow: scroll;
}

.index-row {
  border: solid;
  border-width: 0 1px 1px 0;
  height: 50px;
  padding: 10px;
  min-width: 281px;
}

.header-cell {
  text-align: center;
  padding: 10px;
  border: solid;
  border-width: 0 1px 0 0;
  min-width: var(--main-table-colummn-width);
  max-width: var(--main-table-colummn-width);
}

.table-main-cell {
  min-width: 301px;
  max-width: 301px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 0 1px 1px 0;
}

.table {
  margin-top: 100px;
  display: flex;
  width: 1045px;
  flex-wrap: wrap;
}

.table-header {
  display: flex;
  width: 100%;
}

.table-headers-row {
  margin-right: 17px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  border-bottom: solid 1px;
}

.table-body {
  display: flex;
  width: 100%;
  max-height: 500px;
  overflow:hidden;
}

.scroll-container {
  overflow-x: auto;
}
